//Holds the styles for the rendering of entities in game world

//Render of a local entity
.localRender{
    aspect-ratio: 1;
    display: block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-color: gray;
    border-radius: 100%;
    margin: 0.1em;
    z-index: 1;
    &:hover::after{
        z-index: 1;
        position: absolute;
        content: attr(data-name);
        display: inline-block;
        background-color: var(--bg-alt-color);
        left: calc(100% - 1em);
        top: -1em;
        padding: 0.1em 0.2em;
        border-radius: 0.3em;
        margin-bottom: -100%;
    }
}

.characterRender{
    
}


.houseRender{
    display: block;
    >.content{
        display: grid;
    }

}

.roomRender{
    display: block;
    border: 2px blue solid;
    min-height: 3em;
    >span{
        position: absolute;
    }

    >.content{
        display: flex;
        flex-wrap: wrap-reverse;
        align-items:end;
        justify-content: end;
        height: 100%;
    }
}



