//Styling for all ui elements

//TODO: Change css class naming conventions

//Contains the canvas and menu elements
#screenContainer{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-main-color);
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    justify-content: stretch;
    // align-items: stretch;

    font-size: 1.5em;
    
}

#screen{
    aspect-ratio: 1080/630;
    padding-left: 1em;
}


#fullLog{
    padding-left: 1.6em;
    display: flex;
    flex-direction: column;
    align-content: end;
    background-color: var(--bg-dark-color);
    //Text
    font-family: "IBM Plex Mono";
    color: var(--text-base-color);
    flex-grow: 10;
    
}

#eventLogList{
    //Display
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    overflow-y: scroll;
    word-wrap: break-word;
    white-space: pre-wrap;

    //Size
    padding: {
        left:1.5em;
        right:0.5em;
        top:1em;
        bottom: 1em;
    };
    min-width: 20em;
    flex-grow: 10;

    //Text
    font-size: 0.85em;
    

    //Force color elements
    hr{
        color: var(--text-base-color);
        border-color: var(--text-base-color);
    }

    .LogEntry{
        margin-top:0.8em;
        margin-bottom: 0;
        max-width: 100%;
        
        --content-color: var(--text-base-color);
        >.LogTitle{
            font-size: 1em;
            font-weight: 600;
            margin-right: 0.5em;
        }
        >.LogContent{
            color:var(--content-color, inherit);
            >.typed-cursor{
                color:var(--cursor-color, inherit);
            }
        }
        &:not(:last-child){
            .typed-cursor{
                display: none;
            }
        }
        .typed-cursor.typed-cursor--blink{
            animation: typedjsBlink 0.9s infinite;
            -webkit-animation: typedjsBlink 0.9s infinite;
        }
    }
}

#eventDialog{
    border-color: var(--border-main-color);
    border-width: 0.15em;
    border-style: solid;
    min-height: fit-content;
    
    padding: 0.3em 0.5em;
    margin-bottom: 1em;
    margin-left: 0.2em;
    //TODO: Add minimum height to dialog
    &:empty{
        min-height: 2em;
    }
    >ul{
        padding-left: 0.5em;
        list-style-type: none;
    }
}

//Log choices
.choiceButton{
    position: relative;
    //Text
    font-size: 0.85em;
    --option-color:var(--text-base-color);
    color:var(--option-color);
    //Border
    border: solid 0.1em transparent;
    padding-left: 1em;

    &::before{
        content: ">";
        position: absolute;
        left: 0.1em;
    }

    //State changes
    &:hover,&:focus{
        background-color: var(--option-color);
        color: var(--bg-dark-color);    
    }
    &:focus-visible{
        outline: none;//Disables manual focus outline
    }
    &:active{
        background-color:transparent;
        color:var(--option-color);
        border-color: var(--option-color);
    }
}

.blockedChoice{
    text-decoration: line-through;
    --option-color:var(--text-locked-color);
    &::before{
        content: "🞩";
        // padding-right: 0.1ex;
        position: absolute;
        left: 0em;
        top: -0.04em;
        
    }
}